<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
<system.webServer>
  <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="1000000" />
    </requestFiltering>
  </security>
     <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
          <add name="Access-Control-Allow-Credentials" value="true" />
          <add name="Access-Control-Allow-Methods" value="OPTIONS, POST, GET"/>
          <add name="Access-Control-Allow-Headers" value="X-Requested-With,X-Prototype-Version,Content-Type,Cache-Control,Pragma,Origin" />
          <add name="Access-Control-Max-Age" value="9999990" />
          <add name="Access-Control-Expose-Headers" value="Access-Control-Allow-Origin" />
        </customHeaders>
      </httpProtocol>
</system.webServer>
  <system.web>
    <pages maxPageStateFieldLength="90000000"></pages>
      <customErrors mode="Off"/>
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="999999999" executionTimeout="9999999"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="noreply@xxx-xxxxxx.com"/>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="252connstring" connectionString="Data Source=xx.xxx.xx.xxx;Initial Catalog=StationDocumentation;Persist Security Info=True;User ID=root;Password=xxxxxxxx" providerName="System.Data.SqlClient"/>
    <add name="swgProd" connectionString="xxxx;user id=root;persistsecurityinfo=True;server=xx.xxx.xx.xxx;database=xxxxxxx;AllowUserVariables=True;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
